<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>todo app</h1>
    <div class="container-app">

        <div class="container list-todo">
            <div class="form-list">
                <form action="/create/list" method="POST">
                    <input type="text" name="description" class="description">
                    <input type="submit" value="create list">
                </form>
            </div>
            <div class="list">
                <ul>
                    {% for item in data.lists %}
                        <li>
                            {{item.description}} <button>x</button>
                        </li>
                    {% endfor %}
                </ul>
    
            </div>
        </div>
        <div class="container data">
            <div class="form-todo">
                <form action="/create/todo" method="POST">
                    <input type="text" name="description" class="description">
                    <input type="submit" value="add todo">
                </form>
            </div>
            <ul class="todos">
                {% for todo in data.todos %}
                <li class="todo">
                    <input type="checkbox" data-id="{{todo.id}}" name="completed" class="todo-completed" {% if todo.completed %} checked {% endif %}>
                    {{todo.description}}
                    <button class="todo-remove" data-id="{{todo.id}}">x</button>
                </li> 
                 {% endfor %}
            </ul>
          
        </div>
    </div>
 
<script>
    function handler(route){
     return   event => {
       const   id = event.target.dataset.id
       fetch(`/${route}/${id}`,{
           method:"get"
       })
       .then(response => {
           console.log(window.location)
           window.location.reload(true)

       })
       .catch(error => {
           console.log(error)
       })
    }
    }
    

    function addListener(event,route){
        return data => data.addEventListener(event,handler(route))
    }

    
     

    completed = document.querySelectorAll(".todo-completed")

    removeBtn = document.querySelectorAll(".todo-remove")
    
    Array.from(removeBtn).map(addListener("click","remove"))
   
    Array.from(completed).map(addListener("change","completed"))
</script>
</body>
</html>